.header {
  text-align: center;
}

body {
  background-color: #ffffff;
  color: #2e2e2e;
  font-family: "Montserrat", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}


h1 {
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 4px;
}

h2 {
  font-size: 1.1rem;
  color: #000;
  font-weight: 500;
  margin-bottom: 2px;
}

h3 {
  font-size: 1rem;
  color: #1a1a1a;
  font-weight: 400;
  margin-bottom: 16px;
}

p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 12px;
}

a {
  color: #7a5c3e;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline; /* subrayado al pasar el mouse */
}

footer {
  margin-top: 40px;
  font-size: 0.8rem;
  color: #aaa;
}

html {
  background-color: #faf5ea;
}

