.header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ffffff;
  color: #2e2e2e;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 40px 20px;
}

#FotosIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 5%;
}

.img-basic {
  width: 45%;
  border-radius: 8px;
}

.mis-proyectos {
  display: flex; /* Pone las tarjetas una al lado de la otra */
  justify-content: center; /* Las centra */
  gap: 20px; /* Espacio entre ellas */
  padding: 20px;
}

.tarjeta-simple {
  width: 600px; /* Un tamaño fijo para que no se vean aplastadas */
  padding: 20px;
  border: 2px solid #ddd; /* Un borde visible para que sepas qué es la tarjeta */
  border-radius: 10px; /* Esquinas redondeadas */
  text-align: center; /* Todo el texto dentro de la tarjeta se centra */
}

h1 {
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 4%px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px 20px;
}

.h1Páginas {
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 2%;
  margin-left: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 10px 20px;
}

h2 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
  margin-left: 10%;
  margin-bottom: 12px;
}

h3 {
  font-size: 1rem;
  color: #1a1a1a;
  font-weight: 400;
  margin-bottom: 5%px;
}

.ContenedorQuotes {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.carousel-small .carousel-item img {
  height: 70vh;
  object-fit: cover;
}
.textoPequeño {
  font-size: 1 rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  letter-spacing: 0.005rem;
  text-align: center;
  color: #000000;
}

.card-title {
  font-weight: 700;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

p {
  color: #000000;
  text-align: justify;
  line-height: 1.7;
  margin-bottom: 12px;
}

.textoIntro {
  margin-left: 5%;
  margin-right: 5%;
}

a {
  color: #7a5c3e;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

#FootText {
  text-align: center;
}

footer {
  margin-top: 2%;
  font-size: 0.8rem;
  color: #aaa;
}

html {
  background-color: #ffffff;
}

